## Extraction des infos contenues dans les fichiers 'Données climatologiques'

In [2]:
#imports
import os
import pandas as pd
from datetime import datetime

### Données climatologiques de base - 6 minutes

In [20]:
### Données climatologiques de base - data urls
urls_quot_rr_t_vent = ['https://www.data.gouv.fr/api/1/datasets/r/ca71c620-8310-4957-86c4-7a2cb827edf9',
                       'https://www.data.gouv.fr/api/1/datasets/r/fe8b9ae4-885c-4a12-98b4-af3ec330103f',
                       'https://www.data.gouv.fr/api/1/datasets/r/565ce1ce-7cd5-4a9b-a208-4c3bd52b927e']


urls_quot_autres = ['https://www.data.gouv.fr/api/1/datasets/r/a22d8046-8eaf-4a1d-9996-b9fe0630b555',
                    'https://www.data.gouv.fr/api/1/datasets/r/1c4c8fb0-1e28-4349-bd7e-6d47939da21f']

urls_decad_agro = ['https://www.data.gouv.fr/api/1/datasets/r/3d7c7887-2278-42fa-a64b-48d5eab7ff21',
                   'https://www.data.gouv.fr/api/1/datasets/r/feb0d199-45f2-4ca7-bea6-45cd5e85bc01',
                   'https://www.data.gouv.fr/api/1/datasets/r/3da7e0b0-4e90-4272-a909-2fe0b8727309']

In [5]:
df = pd.DataFrame()
for url in urls_quot_rr_t_vent:
  df_new = pd.read_csv(url, compression='gzip', delimiter=';')
  df = pd.concat([df,df_new])
  print(url)

https://www.data.gouv.fr/api/1/datasets/r/ca71c620-8310-4957-86c4-7a2cb827edf9
https://www.data.gouv.fr/api/1/datasets/r/fe8b9ae4-885c-4a12-98b4-af3ec330103f
https://www.data.gouv.fr/api/1/datasets/r/565ce1ce-7cd5-4a9b-a208-4c3bd52b927e

In [8]:
#Quality flag columns
flag_col = [col for col in df.columns if col.startswith('Q')]

#Removing NAs and duplicates
df_cleaned = df.dropna(axis= 'columns', how='all')
df_cleaned = df_cleaned.drop_duplicates()

#removing rows where Q == 2
#df_cleaned = df_cleaned.drop(df_cleaned[df_cleaned[flag_col] == 2].index)

In [9]:
df.shape, df_cleaned.shape

((2735873, 58), (2735873, 57))

In [52]:

df[df[flag_col] == 2].sum()

NUM_POSTE      0.0
NOM_USUEL        0
LAT            0.0
LON            0.0
ALTI           0.0
AAAAMMJJ       0.0
RR             0.0
QRR          366.0
TN             0.0
QTN            0.0
HTN            0.0
QHTN           0.0
TX             0.0
QTX            6.0
HTX            0.0
QHTX           0.0
TM             0.0
QTM            2.0
TNTXM          0.0
QTNTXM         6.0
TAMPLI         0.0
QTAMPLI        6.0
TNSOL          0.0
QTNSOL         0.0
TN50           0.0
QTN50          0.0
DG             0.0
QDG            0.0
FFM            0.0
QFFM           0.0
FF2M           0.0
QFF2M        546.0
FXY            0.0
QFXY           0.0
DXY            0.0
QDXY           0.0
HXY            0.0
QHXY           0.0
FXI            0.0
QFXI           0.0
DXI            0.0
QDXI           0.0
HXI            0.0
QHXI           0.0
FXI2           0.0
QFXI2        644.0
DXI2           0.0
QDXI2         36.0
HXI2           0.0
QHXI2          0.0
FXI3S          0.0
QFXI3S         0.0
DXI3S          0.0
QDXI3S         0.0
HXI3S          0.0
QHXI3S         0.0
DRR            0.0
QDRR           0.0
dtype: object

In [10]:
#save to csv
filepath = os.path.join('data','RAW_QUOT_rr-T-vent_1900-2025.csv')
df_cleaned.to_csv(filepath, index=False)

In [11]:
df = pd.DataFrame()
for url in urls_quot_autres:
  df_new = pd.read_csv(url, compression='gzip', delimiter=';')
  df = pd.concat([df,df_new])
  print(url)

https://www.data.gouv.fr/api/1/datasets/r/a22d8046-8eaf-4a1d-9996-b9fe0630b555
https://www.data.gouv.fr/api/1/datasets/r/1c4c8fb0-1e28-4349-bd7e-6d47939da21f

In [12]:
#Quality flag columns
flag_col = [col for col in df.columns if col.startswith('Q')]

#Removing NAs and duplicates
df_cleaned = df.dropna(axis= 'columns', how='all')
df_cleaned = df_cleaned.drop_duplicates()

#removing rows where Q == 2
#df_cleaned = df_cleaned.drop(df_cleaned[df_cleaned[flag_col] == 2].index)

In [13]:
df.shape, df_cleaned.shape

((453177, 88), (453177, 70))

In [18]:
df[df[flag_col] == 2].sum()

NUM_POSTE    0.0
NOM_USUEL      0
LAT          0.0
LON          0.0
ALTI         0.0
            ...
QBA300       0.0
TMERMIN      0.0
QTMERMIN     0.0
TMERMAX      0.0
QTMERMAX     0.0
Length: 88, dtype: object

In [19]:
#save to csv
filepath = os.path.join('data','RAW_QUOT_autres_1950-2025.csv')
df_cleaned.to_csv(filepath, index=False)

In [21]:
df = pd.DataFrame()
for url in urls_decad_agro:
  df_new = pd.read_csv(url, compression='gzip', delimiter=';')
  df = pd.concat([df,df_new])
  print(url)
#Quality flag columns
flag_col = [col for col in df.columns if col.startswith('Q')]

#Removing NAs and duplicates
df_cleaned = df.dropna(axis= 'columns', how='all')
df_cleaned = df_cleaned.drop_duplicates()

#removing rows where Q == 2
#df_cleaned = df_cleaned.drop(df_cleaned[df_cleaned[flag_col] == 2].index)

print(df.shape, df_cleaned.shape)

#save to csv
filepath = os.path.join('data','RAW_DECADAGRO_1900-2025.csv')
df_cleaned.to_csv(filepath, index=False)

https://www.data.gouv.fr/api/1/datasets/r/3d7c7887-2278-42fa-a64b-48d5eab7ff21
https://www.data.gouv.fr/api/1/datasets/r/feb0d199-45f2-4ca7-bea6-45cd5e85bc01
https://www.data.gouv.fr/api/1/datasets/r/3da7e0b0-4e90-4272-a909-2fe0b8727309
(55714, 22) (55714, 22)